//LAYOUT
//......HEADER__MOBILE-NAVBAR
//

.header__mobile-navbar{
  box-sizing: border-box;
  @include flexy(row nowrap,flex-start);
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  @include reset-list;
  padding: 0 10px;
  z-index: 8000;
  @include mq(map-get($breakpoints, medium)){
    display: none;
  }
}
