//LAYOUT
//......MENU-BIGGER-DEVICES
//

.menu-bigger-devices{
  @media(min-width:map-get($breakpoints, medium)){
    @include flexy(row wrap);
    z-index:1;
    position: relative;
    width: 60%;
    max-width: 100%;
    margin:auto;
    //temporally
    li{
      flex:1 50%;
    }
  }
}
