//ATOMS
//.....HEADER__MAIN-HEADING--MOBILE
//


.main-heading--mobile{
  display: block;
  margin-top: 54px;//to position the main-heading in mobile screens bellow the navbar
  @include mq(map-get($breakpoints, medium)){
    display: none;
  }
}
