//LAYOUT
//.....CARD__IMG-TO-THE-LEFT-LAYOUT
//

.card__post--img-to-the-left-layout{
  width: 95%;
  margin:0 2.5%;

  @include mq(map-get($breakpoints, large)){
    width: 105%;
    margin-left: -5%;
    margin-right: 0;
    margin-top: 10px;
    display: block;
    z-index: 6000;
  }
}
