//ATOMS
//.....CARD__IMG-BACKGROUND
//

.card__post--img-background-layout{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;

  .img-background-container-layout{
    position: absolute;
    @include flexy(column nowrap,center);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba($black,.3);
  }
}
